body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

.container {
    padding: 20px; /* Menambah padding pada container */
}

/* Tambahan untuk gambar di halaman detail */
.img-fluid {
    max-height: 400px; /* Mengatur tinggi maksimum untuk gambar di halaman detail */
    object-fit: contain; /* Memastikan gambar proporsional dan terlihat baik */
}


.card-title {
    font-weight: bold; /* Judul lebih menonjol */
}